@charset "ISO-8859-1";

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
}


body{
	
	background: url(../images/castle-4.jpg) center no-repeat;
/*	background: #808080 center no-repeat;
	background: -webkit-linear-gradient(#D3D3D3, #111111) center no-repeat;
	background: 	-moz-linear-gradient(#D3D3D3, #111111) center no-repeat;
	background:			linear-gradient(#D3D3D3, #111111) center no-repeat; */
	
	background-size: cover;
	background-color: #444;
	/* font-family: Arial;
	font-weight: bold;
	color: #222222;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.75); */
}

#divForm {
/*	background: #A9A9A9; */
	width: 200px;
/*	border-style: outset;
	border-width: 5px; */
	padding: 25px;
	margin: auto;
	
}